html{
    scroll-behavior: smooth;
}
.cabecera{
    background-image: url(../img/banner3.jpg);
    width: 100%; 
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 0 0.2rem 0 0.2rem;
    position: fixed;
}
.foto-perfil{
    margin-top: 1rem;
    margin-left: 0.175rem;
    margin-bottom: 1rem;
    border-image: 1rem;
    border-radius: 3px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 1.5);
}
body{
    background-color: #f4f7fa;
}



