.contenedor__contacto{
    width:500px;
    height: 670px;
    position: absolute;
    top:70%;
    left: 50%;
    margin-top: -335px;
    margin-left: -250px;
    background: #F3F3F3;
    border: double red ;  
}

@media screen and (max-width:480px) {
    .contenedor__contacto{
        width: 250px;
        height: 550px;
        top: 55;
        margin-left: -125px;
        margin-top: -295px;
    }
    
}