.contenedor__contacto{
    width:500px;
    height: 700px;
    position: absolute;
    top:78%;
    left: 50%;
    margin-top: -335px;
    margin-left: -250px;
    margin-bottom: 2rem;
    background: #F3F3F3;
    border-radius: 2%;
    box-shadow: 9px -7px 24px 0px rgba(0,0,0,0.68);
-webkit-box-shadow: 9px -7px 24px 0px rgba(0,0,0,0.68);
-moz-box-shadow: 9px -7px 24px 0px rgba(0,0,0,0.68);
}

@media screen and (max-width:720px) {
    .contenedor__contacto{
        width: 250px;
        height: 720px;
        top: 26rem;
        margin-left: -125px;
        margin-top: -295px;
    }
    
}