.titulo__contacto{
    margin-left: 25%;
    padding-left: 3rem;
    padding-top: 1.3rem;
    padding-bottom: 0.1em; 
    font-family: Dancing Script,cursive;
    color: black;
    font-size: 0.8rem;     
}

@media screen and (max-width:480px) {
    .titulo__contacto{
        margin-left: 5%;
    }
    
}