.titulo__skills{ 
    justify-content:center;
    align-items:center;
    margin-left: 110%;
    margin-right: 100rem;
    padding-top: 2.3rem;
    padding-bottom: 0.1rem; 
    font-family: Dancing Script,cursive;
    color: black;
    font-size: 2.8rem;     
}
@media screen and (max-width:720px) {
    .titulo__skills{
        margin-right:33rem;
        font-size: 2rem;
    }
    
}
