.titulo__skills{ 
    justify-content:center;
    align-items:center;
    margin-left: 45%;
    margin-right: 100rem;
    padding-top: 2.3rem;
    padding-bottom: 1.5rem; 
    font-family: Dancing Script,cursive;
    color: black;
    font-size: 2.8rem;     
}
