.contenedor__formacion{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    margin-top: .1rem;
    background-color: #ecf0f4fe;     
}
@media screen and (max-width:720px) {
    .contenedor__formacion{
        display: block;  
        padding-bottom: 4rem;
        padding-top: 1rem;     
    }
    
}