.tarjeta__formacion{  
    justify-content:space-evenly;  
    background-color: white;   
    margin:4.3rem;
    width:185px;
    height: 200px;   
    border: double rgb(22, 76, 146);
    border-radius: 5%;
}