.tarjeta__formacion{   
    background-color: white;   
    margin-left: 13%;
    margin-top:2.5rem;
    width:230px;
    height: 210px;   
    border: solid rgb(22, 76, 146);
    border-radius: 5%;
}