.presentacion__personal{
	padding-top: 20px;
    font-family: Dancing Script,cursive;
    color:#086A87;
    font-size: 1.8rem;
}

@media screen and (max-width:720px) {
    .presentacion__personal{
        padding-top: 10px;
        font-size: 0.9rem;
        text-align: center;
    }
    
}