.presentacion__personal{
	padding-top: 20px;
    font-family: Dancing Script,cursive;
    color:#086A87;
    font-size: 1.8rem;
}

@media screen and (max-width:480px) {
    .presentacion__personal{
        font-size: 0.6rem;
        text-align: center;
    }
    
}