.titulo__experiencia{
    margin-left: 35%;
    margin-bottom: 2rem;
    padding-top: 2.3rem;
    padding-bottom: 0.1rem; 
    font-family: Dancing Script,cursive;
    color: black;
    font-size: 2.8rem;   
}

@media screen and (max-width:720px) {
   .titulo__experiencia{
    font-size: 1.2rem;
    margin-left: 27%;
   }   
    
}