.video__experiencia{
    width: 1000px;
    height: 250px; 
    margin-left: 20%; 
    margin-top: 1.5em;  
}

@media screen and (max-width:720px) {
  .video__experiencia{
    width: 341px;
    height: 194px; 
    margin-left: 14%; 
    margin-top: 1.5em; 

  }
    
}