.rodapie__lista{
    display: flex;
    justify-content:center;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 2rem;
}

@media screen and (max-width:480px) {
    .rodapie__lista{
        justify-content: center;
    }
    
}