.tarjeta__hobbies{  
    justify-content:space-evenly; 
    background-color: white; 
    margin:4.3rem;
    width:185px;
    height: 200px;   
    border: double rgb(45, 146, 22);
    border-radius: 5%;
}